body {
  height: 100vh;
  background-color: #af4cda;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  h1 {
    color: #ffffff;
    font-size: 5rem;
  }
}
